.Header {
  padding: 10px 20px;
  height: 50px;
  display: flex;
}
.Header__title {
  margin: 0;
  font-size: 16px;
  line-height: 47px;
  color: #005a9c;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
.Header__langage {
  height: 30px;
  width: 50px;
  background: url('./is.png');
  background-size: contain;
  margin-right: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.Header__langage--is {
  background-image: url('./is.png');
}
.Header__langage--en {
  background-image: url('./en.jpg');
}
.Header__languages {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}
