.Drawer {
  width: 250px;
  overflow: scroll !important;
}
.Drawer__image {
  height: 140px;
}
.Drawer__closeButton {
  position: absolute !important;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .Drawer {
    width: 0;
    display: none;
  }
}
