.Icon {
  height: 50px;
  width: 50px;
  background: url('https://i.ibb.co/R9jy6Yv/viti.png');
  background-size: contain;
}
.Icon--elin {
  background-image: url('https://i.ibb.co/d2FZjPL/elinarsaeti.png');
}
.Icon--viti {
  background-image: url('https://i.ibb.co/R9jy6Yv/viti.png');
}
.Icon--safn {
  background-image: url('https://i.ibb.co/TR44DWZ/safn.png');
}
.Icon--gudlaug {
  background-image: url('https://i.ibb.co/74nK7nf/gudlaug.png');
}
.Icon--akrafjall {
  background-image: url('https://i.ibb.co/nf6LH4C/akrafjall.png');
}
.Icon--langisandur {
  background-image: url('https://i.ibb.co/vzDM6Fp/langisandur.png');
}
